<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for( 'static', filename='userdetails.css' ) }}">
    <title>Magazine Details</title>
</head>
<body>
    <div>
        <a href="/dashboard">Dashboard</a>

        <form action="/logout">
            <button type="submit">Logout</button>
        </form>
    </div>

    <h1>{{ magazine.title }}</h1>

    <p>Added by {{ magazine.created_by }}</p>

    <p>{{ magazine.description }}</p>
    
    <h3>Subscribers</h3>
    <ul>
        {% for sub in list_subs: %}
            <li>
                {{sub.first_name}}
                {{sub.last_name}}
            </li>
        {% endfor %}
    </ul>

</body>
</html>